<html>
<main>

    <head>
        <title>Pedro Afonso Curriculum Vitae</title>
        <link rel="stylesheet" href="styles.css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto" rel="stylesheet">
    </head>

    <body>
        <header>
            <h1>Pedro Afonso Costa Ferraz Leite</h1>
            <div id="head">
                <p>Brazilian, married, 30 years old</p>
                <p>Elias Juvenal de Mello Street, Jd. Ana Maria, Jundiai - SP</p>
                <p>Cellphone: (35) 9 9151 6117 / E-mail: pedroafonso23@yahoo.com.br</p>
            </div>
        </header>

        <h2>OBJECTIVE</h2>
        <p>Work as a Fullstack Developer.</p>

        <h2>PROFESSIONAL EXPERIENCE</h2>
        <div>
            <h3>June 2019 to this day - Flatmatch Project</h3>
            <p>Function: Mobile Developer and QA Manager</p>
            <p>Main activities: To develop app features; decision taking; responsable for the Quality Assurance team.
            </p>
        </div>
        <div>
            <h3>February 2013 to August 2015 - Delphi Automotive Systems</h3>
            <p>Function: Automation Engineer</p>
            <p>Main Activities: To manage and develop prodction line innovation projects; decision taking with the
                global team;
                cost reduction; industrial automation; benchmarking; technical concepts elaboration; budget
                administration.</p>
        </div>

        <h2>ACADEMIC HISTORY</h2>
        <div>
            <h3>January 2020 to this day - Cod3r Online Technology Courses (Udemy)</h3>
            <p>Fullstack developer course: JavaScript, NodeJS, ReactJS, React Native, HTML5, CSS3, JQuery, VueJS,
                ExpressJS, Gulp, Webpack, Bootstrap, MySQL and MongoDB</p>
        </div>
        <div>
            <h3>March 2016 to September 2018 - Universidade Federal de Santa Catarina (UFSC)</h3>
            <p>Master degree in Systems and Automation Engineering</p>
        </div>
        <div>
            <h3>January 2009 to December 2013 - Universidade Federal de Itajuba (UNIFEI)</h3>
            <p>Graduated in Control and Automation Engineering</p>
        </div>

        <h2>COMPLEMENTARY ACTIVITIES</h2>
        <ul>
            <li>Search Engine Evaluator in the Yukon Project from Google (2019 / 2020)</li>
            <li>English teacher in the language school Skill in Lavras - MG (2019)</li>
            <li>Training in the In-Sigth software (vision systems programming) by OMNI (2014)</li>
            <li>Training in programming ABB robots, instructor Denis Santana from ABB Robotics (2013)</li>
            <li>Online course in LabVIEW programming (2013)</li>
            <li>Online course Machine Learning, by Dr. Andrew Ng from Stanford University (2012)</li>
            <li>Extension course of advanced AutoCAD at UNIFEI (2011)</li>
        </ul>

        <h2>QUALIFICATIONS</h2>
        <ul>
            <li>GitHub developer portfolio: <a href="https://www.github.com/pedroafonso23"
                    target=_blank>github.com/pedroafonso23</a></li>
            <li>LinkedIn: <a href="https://www.linkedin.com/in/pedroafonsoferraz"
                    target=_blank>linkedin.com/in/pedroafonsoferraz</a></li>
            <li>Advanced english (95% on the proficiency test TOEIC)</li>
            <li>Experience programming Staubli and ABB robots</li>
            <li>Knowledge in various programming languages (C, Visual Basic, Matlab, Ladder)</li>
            <li>Microsoft Office package experience</li>
            <li>Willing to reside at any location and available to start immediately</li>
            <li>Driver licence and vehicle owner</li>
        </ul>

    </body>

</main>

</html>